@{
   ViewBag.Title = "Home Page";
 }

<div class="box_images">
    <a href="#"><img src="~/images/sp/header_1.png" alt="" style="width:1200px" /></a>
</div>
@*<ul class="box_image_list">
        <li><a href="#"><img src="images/pic_02.png" alt=""></a></li>
        <li><a href="#"><img src="images/pic_03.png" alt=""></a></li>
        <li><a href="#"><img src="images/pic_04.png" alt=""></a></li>
    </ul>*@
<div class="clear"></div>
<section class="container">
    <div class="bottom-slider">
        <a href="#" class="btn-left"></a>
        <div class="slides">
            @{ Html.RenderAction("LogoHangSanXuat", "SanPham"); }
        </div>
        <a href="#" class="btn-right"></a>
    </div>
</section>
<div class="block-advice">
    <div class="advice-holder">
        <p>Join our newsletter</p>
    </div>
    <form action="#" class="form-newsletter">
        <fieldset>
            <input type="text" placeholder="Put your email..." />
            <input class="btn black normal" type="submit" value="Subscribe" />
        </fieldset>
    </form>
</div>
<div class="banner_box">
    <p>Take a part in our competition</p>
    <span>and get 80% discount for shopping</span>
</div>
<div class="clear"></div>


