
@{
    ViewBag.Title = "getSearch";
}

<div class="ul_search">
    <a class="search" href="#"><span>search</span></a>
    <form method="get" class="searchform" action="#">
        <input type="text" class="field" name="s" id="s" placeholder="What are you looking for?" />
        <input type="submit" class="submit" value="" />
    </form>
</div>
