@model IEnumerable<BabyShop.Models.HangSanXuat>


<p>Logo Nhà Cung Ứng</p>
<ul class="item-list">
    @foreach (var item in Model)
    {
        <li>
            <div class="item">
                <div class="image">
                    <a href="#"><img src="~/images/sp/@item.LogoURL" alt="" style="width:220px !important;height:100px !important" /></a>
                    <a href="@Url.Action("HienThiSanPhamTheoHang","SanPham", new {id = @item.MaHangSanXuat})">
                        <div class="hover">
                            <p>@item.TenHangSanXuat</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
    }
</ul>

